.Forecast {
  text-align: center;
  font-size: 15px;
}

.Forecast-day {
  color: #c4c4c4;
}

.Forecast-icon {
  padding: 0px;
  display: block;
  margin: auto;
}

.Forecast-temp-min {
  opacity: 0.6;
}
